[submodule ".registry"]
	path = .registry
	url = https://github.com/omnibenchmark/omnibenchmark.r-universe.dev
	branch = HEAD
[submodule "obkit"]
	path = obkit
	url = https://github.com/omnibenchmark/obkit
	branch = main
	subdir = r/obkit
